.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom right, rgba(76,76,77,0.27), #63a5bf, #193668);
  min-height: 100vh;
}

html, body, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

/*  Шапка  */
.app-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box; 
  background: linear-gradient(to right, #5e6065, #1c4284);
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Верхняя часть шапки */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin: 0;
  font-size: 28px; 
  font-weight: bold;
  color: #ffffff; 

  -webkit-text-stroke: 1px rgba(0,0,0,0.7);

  text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}


.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  color: #ffffff; 
}

/* Нижняя часть шапки */
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Навигация */
.header-nav {
  display: flex;
  gap: 12px;
  flex: 1;
  justify-content: center;
}

.header-nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 4px;
  transition: 0.3s;
}

.header-nav a:hover {
  background-color: #87ceeb;
  color: rgb(73, 73, 73);
}

.header-nav a.active {
  background-color: #0d3b69;
  color: rgb(255, 255, 255);
}

/* Кнопки */
.logout-btn {
  padding: 0.5rem 1rem;
  background: #930909;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.logout-btn:hover {
  background: #666;
}

 /* в этих стилях больше нет необходимости, заменили на material
.add-btn {
  padding: 0.75rem 1.5rem;
  background: #0d3b69;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem 0;
  transition: background 0.3s;
}

.add-btn:hover {
  background: #4682b4;
}
  */

/* Контент */
.app-content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

/* Адаптив */
@media (max-width: 768px) {
  .header-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .header-bottom {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .header-nav {
    flex-wrap: wrap;
  }
}